NEXT_PUBLIC_SHOPIFY_STORE_DOMAIN=fridacai-csan4grc.myshopify.com
NEXT_PUBLIC_SHOPIFY_STORE_FRONT_ACCESS_TOKEN=
# Leave empty to list all products, or enter a collection handle.
NEXT_PUBLIC_SHOPIFY_COLLECTION=
NEXT_PUBLIC_LOCAL_STORAGE_NAME=fridacai-cart-v2
